<!-- <div id="bg">
  <img src="images/bg.jpg" alt="">
</div> -->

<div class="section1" >

	<div style="float: left; position: relative; left: 50%;" >
		<ul class="navWrapper" >
			<li> <a class="active" href="#" > home </a> </li>
			<li> <a href="#" > about </a> </li>
			<li> <a href="#" > skills </a> </li>
			<li> <a href="#" > contact </a> </li>
		</ul>
	</div>

	<h1>Joe Layman</h1>

	<h2><span class="theBlue" >{</span> a passion for the web and development <span class="theBlue" >}</span></h2>

</div>

<div class="section2" >

	<div class="container" >

		<div class="row" >
			<div class="col-sm-12" >
				<h3>aboutMe<span class="theBlue" >()</span></h3>
			</div>
		</div>

		<div class="row" >
			<div class="col-xs-12 col-sm-4" >
				<p>
					My name is Joe Layman I am a web developer from a small town in Indiana. I currently live and work in Tampa, FL. I work at Thuzi LLC, where I am a Front-End Web Developer.
				</p>
			</div>
			<div class="col-xs-12 col-sm-4" >
				<p>
					I love writing code. Front-End, Back-End it doesn’t matter. If it needs to be written in Javascript, I will be happy to write it. I also have a passion for Experience Design and Usabiliy.
				</p>
			</div>
			<div class="col-xs-12 col-sm-4" >
				<p>
					My primary area of expertise is Front End Development. That being said, I have professionally and personally implemented full stack solutions using MongoDB and Node.js
				</p>
			</div>
		</div>

	</div>

</div>

<div class="section3" >
	<div class="container" >

		<div class="row" >
			<div class="col-sm-12" >
				<h3>skillsAndExpertise<span class="theBlue" >()</span></h3>
			</div>
		</div>

		<div class="row" >
			<div class="col-xs-12 col-sm-4" >
				<p>
					I have spent the last two years honing my skills as a developer and designer. I gradudated from Full Sail University two years ago with a Bachelors of Science in Web Development and Design.
				</p>
			</div>
			<div class="col-xs-12 col-sm-4" >
				<p>
					I have used many front end libs such as Backbone.js, jQuery, Stylus, Bootstrap 3, Underscore.js, Moment.js and others.
				</p>
			</div>
			<div class="col-xs-12 col-sm-4" >
				<p>
					For server dev, I have primarily used Node.js and Mongo DB. Though I have some experience with PHP and MySQL. I enjoy writing Javscript more than any other language.
				</p>
			</div>
		</div>

	</div>

</div>

<div class="section4" >
	<div class="container" >

		<div class="row" >
			<div class="col-sm-12" >
				<h3>contactMe<span class="theBlue" >()</span></h3>
			</div>
		</div>

		<div class="row" >

		</div>

	</div>

</div>






