<h1> 
	<span>Joseph</span> 
	<span id="logo" ></span>
	<span>Layman</span>
</h1>

<h2>Web Developer &amp; Designer</h2>

<div class="topBackgroundColor" >
	<div class="container">
		<div class="row" >

			<div class="col-xs-12 col-sm-4" >
				<h3>Web Applications</h3>
				<p>Most of my experience on the web has been creating web applications. Both server and client driven web apps.</p>
				<p>My primary area of expertise is Front End Development. That being said, I have professionally and personally implemented full stack solutions using MongoDB and Node.js</p>
			</div>

			<div class="col-xs-12 col-sm-4" >
				<h3>Passion &amp; Drive</h3>
				<p>My passion is to make the digital interfaces so simple and intuitive that the design falls away and the end user is simply presented with the information or products they are looking for. </p>
			</div>

			<div class="col-xs-12 col-sm-4" >
				<h3>Contact Me</h3>
				
				<form id="contactForm" >
					<ul>
						<li><input class="form-control" type="text" placeholder="Name" ></li>
						<li><input class="form-control" type="text" placeholder="Email" ></li>
						<li><textarea class="form-control" placeholder="Your Message" ></textarea></li>
						<li><button type="submit" class="btn btn-primary" >Send</button></li>
					</ul>					
				</form>

				<h4 class="text-center" >
					<a href="#" class="btn btn-primary" >My Github</a>
					<a href="#" class="btn btn-primary" >My Twitter</a>
				</h4>


			</div>

		</div>
	</div>
</div>

<div class="middleBackgroundColor" >
	<div class="container">
		<div class="row" >
			<div class="col-xs-12 col-sm-4" >
				<h3>Front End Tech</h3>

				<dl>
					<dt> HTML > </dt>
					<dd> <a href="#"> Emmet </a></dd>
				</dl>	

				<dl>
					<dt> CSS > </dt>
					<dd> <a href="#"> Stylus </a></dd>
				</dl>	

				<dl>
					<dt> Frameworks > </dt>
					<dd> <a href="#"> Bootstrap 3 </a></dd>
				</dl>

				<dl>
					<dt> Javascript > </dt>
					<dd> <a href="#"> jQuery </a></dd>
					<dd> <a href="#"> Facebook JS SDK </a></dd>
					<dd> <a href="#"> Backbone.js </a></dd>
					<dd> <a href="#"> Handlebars.js </a></dd>
					<dd> <a href="#"> Underscore.js </a></dd>
					<dd> <a href="#"> Moment.js </a></dd>
				</dl>

			</div>

			<div class="col-xs-12 col-sm-4" >
				<h3>Sever Side Tech</h3>

				<dl>
					<dt> <a href="#">Node.js</a> > </dt>
					<dd> <a href="#">Express.js</a></dd>
					<dd> <a href="#">EJS</a></dd>
					<dd> <a href="#">fb.js</a></dd>
					<dd> <a href="#">Twit.js</a></dd>
				</dl>

				<dl>
					<dt><a href="#">MongoDB</a> > </dt>
					<dd><a href="#">Mongoose.js</a></dd>
				</dl>

				<dl>
					<dt> <a href="#">Version Control</a> > </dt>
					<dd> <a href="#">Git</a></dd>
				</dl>

			</div>

			<div class="col-xs-12 col-sm-4" >
				<h3>Design</h3>

				<dl>
					<dt> Responsive Layouts </dt>
					<dt> Adaptive Layouts</dt>
				</dl>

				<dl>
					<dt> The Five Usability Principles > </dt>
					<dd> Learnability </dd>
					<dd> Efficiency </dd>
					<dd> Memorability </dd>
					<dd> Errors </dd>
					<dd> Satisfaction </dd>
				</dl>
				
			</div>
		</div>
	</div>
</div>

<div class="bottomBackgroundColor" >
	<div class="container">
		<div class="row" >
			<div class="col-xs-12 col-sm-4" >
				<h3>Software</h3>
				<dl>
					<dt> OSX </dt>
				</dl>
				<dl>
					<dt> Sublime Text 2 </dt>
					<dt> Chrome Dev Tools </dt>
					<dt> Terminal </dt>
					<dt> Live Reload </dt>
				</dl>
				<dl>
					<dt> Photoshop </dt>
					<dt> Illustrator </dt>
				</dl>
				<dl>
					<dt>Pages</dt>
					<dt>Keynoote</dt>
				</dl>
			</div>

			<div class="col-xs-12 col-sm-4" >
				<h3>Work Experience</h3>
				<p>Thuzi, LLC</p>
				<p>December, 2011  - The present</p>
				<p>Primary Responsibilities:</p>
				<p>Front End Development utilizing a varity Front End techniques and libraries (Backbone.js, jQuery, Facebook JS SDK, etc. )</p>
			</div>

			<div class="col-xs-12 col-sm-4" >
				<h3>Education</h3>
				<p>Bachelors of Science in Web Development and Design from Full Sail University.</p>
				<p>Graduation Date: November 2011</p>
			</div>
		</div>
	</div>
</div>


