
darkBlue = #444B5B
lightTan = #F2EEE9
lightBlue = #95A6B7
lightestBlue = #E7EDF2


body
	color: darkBlue
	background: lightestBlue

body, h1, h2, h3, h4
	font-family: 'Quicksand', Helvetica, Arial, sans-serif

h1
	clear: both
	font-size: 5.5em
	text-align: center
	width: 868px
	margin: 20px auto
	overflow: visible

	span
		float: left

		&:first-child, &:last-child 
			margin-top: 70px

h2
	clear: both
	text-align: center
	font-size: 3.5em
	margin: 20px
	padding-top: 20px

h3
	font-size: 2.1em

p
	font-size: 1.2em

a
	color: inherit
	text-decoration: underline


.btn-primary
	background: lightBlue
	color: black
	border: 1px solid lightBlue

	&:hover
		background: lightestBlue
		color: black
		border: 1px solid lightestBlue

a.btn
	text-decoration: none

#logo 
	background: url(../images/logo.png)
	width: 246px
	height: 246px
	display: block
	margin: 0 20px

	/*-webkit-transition: all .5s ease-in-out; */

	&:hover
		/*-webkit-transform: rotate(360deg);*/


.topBackgroundColor
	background: darkBlue
	color: white

.middleBackgroundColor
	background: lightTan

.bottomBackgroundColor
	background: darkBlue
	color: white



dl 
	font-size: 1.2em

	dt
		font-weight: normal

	dd
		margin-left: 20px


#contactForm


	ul
		margin: 0
		padding: 0
		list-style: none

	li
		margin-bottom: 15px

	input, textarea, button
		width: 100%
		resize: none

	textarea
		height: 100px




@media (max-width: 868px)
	h1
		font-size: 4.5em
		width: 761px

@media (max-width: 767px)

	h1
		width: auto
		margin: 20px;
		font-size: 4em
			
		span
			float: none


	#logo 
		margin: 0 auto
		background-size: 123px 123px
		width: 123px
		height: 123px
		margin-bottom: -10px


	h2
		font-size: 2.4em
		padding-top: 0

	h3
		font-size: 2em

