html
	background: url(../images/debut_light.png)

body
	background: transparent

h1, h2, h3
	font-family: 'Quicksand'
	text-shadow: 0px 2px 2px #fff

h1, h2
	margin: 40px 0

h1
	font-size: 46px
	margin-top: 25px

h3 
	font-size: 23px

.socialIcons
	margin-top: 20px

.socialIcon
	font-size: 3.6em
	color: #222
	padding: 0 3px
	text-shadow: 0px 2px 2px #fff

	&:hover
		text-decoration: none
		color: #444


#logo
	background:  url(../images/logo.png) rgba( 0, 0, 0, .03 )
	width: 200px
	height: 200px
	margin: 20px auto
	border: 1px solid #ddd
	-webkit-border-radius: 50px
	-moz-border-radius: 50px
	border-radius: 50px

.noMargin
	margin: 0

.noTopMargin
	margin-top: 0

.noBottomMargin
	margin-bottom: 0

.moveUp {
	position:relative;
	-webkit-transition: all .25s ease-out
	-moz-transition: all .25s ease-out
	-o-transition: all .25s ease-out
	-ms-transition: all .25s ease-out
	transition: all .25s ease-out
	top: 0
}
.moveUp:hover {
	top: -3px
}

.rotate {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;     
}  
.rotate:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
